<?xml version="1.0"?>
<!--
Web.config file for TicketGenerator.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <trust level="Full" originUrl="" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="*" path="empty_class" type="TicketGenerator.Controllers.EmptyClass" />
      <add verb="*" path="byte_array_base" type="TicketGenerator.Controllers.ByteArrayBase64" />
      <add verb="*" path="toursdate" type="TicketGenerator.Controllers.Tours_Date" />
      <add verb="*" path="workers" type="TicketGenerator.Controllers.Workers" />
      <add verb="*" path="events" type="TicketGenerator.Controllers.Events" />
      <add verb="*" path="geometry_data" type="TicketGenerator.Controllers.GeometryData" />
      <add verb="*" path="alluser_data" type="TicketGenerator.Controllers.call.AllUser" />
      <add verb="*" path="login_json" type="TicketGenerator.AppAPIControllers.Login" />
      <add verb="*" path="multimedia_json" type="TicketGenerator.AppAPIControllers.Multimedia" />
      <add verb="*" path="scan_json" type="TicketGenerator.AppAPIControllers.Scan" />
      <add verb="*" path="Login_check" type="TicketGenerator.AppAPIControllers.Login_check" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="empty_class" verb="*" path="EmptyClass" type="TicketGenerator.Controllers.EmptyClass" />
      <add name="byte_array_base" verb="*" path="ByteArrayBase64" type="TicketGenerator.Controllers.ByteArrayBase64" />
      <add name="toursdate" verb="*" path="toursdate" type="TicketGenerator.Controllers.Tours_Date" />
      <add name="workers" verb="*" path="workers" type="TicketGenerator.Controllers.Workers" />
      <add name="Events" verb="*" path="events" type="TicketGenerator.Controllers.Events" />
      <add name="geometry_data" verb="*" path="geometry_data" type="TicketGenerator.Controllers.GeometryData" />
      <add name="alluser_data" verb="*" path="alluser_data" type="TicketGenerator.Controllers.AllUser" />
      <add name="login_json" verb="*" path="login_json" type="TicketGenerator.AppAPIControllers.Login" />
      <add name="multimedia_json" verb="*" path="multimedia_json" type="TicketGenerator.AppAPIControllers.Multimedia" />
      <add name="scan_json" verb="*" path="scan_json" type="TicketGenerator.AppAPIControllers.Scan" />
      <add name="Login_check" verb="*" path="Login_check" type="TicketGenerator.AppAPIControllers.Login_check" />
      <add name="incident_data" verb="*" path="incident_data" type="TicketGenerator.AppAPIControllers.Incident" />
    </handlers>
  </system.webServer>
</configuration>